* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  height: 948.3px;
  font-family: 'Times New Roman';
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.main {
  color: DarkSlateGray;
  line-height: 2.5;
}

.navbar {
  background-color: black;
  color: #fff;
  height: 50px;
}

.navbar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  border-bottom: 2px #fff dashed;
  color: #aaa;
}

h1 {
  color: rgb(0, 229, 255);
  text-shadow: 2px 2px 4px #000000;
}

button {
  padding: 5px 10px;
  margin: 5px 10px;
  font-size: large;
  font-weight: bold;
  background-color: lightgrey;
  border-radius: 10px;
  border-width: 1px;
  transition-duration: 0.5s;
}

.button1:hover {
  color: red;
  background-color: pink;
}
.button2:hover {
  color: red;
  background-color: Lightblue;
}
.button3:hover {
  color: red;
  background-color: yellow;
}
.button4:hover {
  color: red;
  background-color: green;
}
.button5:hover {
  color: red;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
.button6:hover {
  color: red;
  background-color: orange;
}
.button7:hover {
  color: red;
  background-color: blue;
}
.button8:hover {
  color: red;
  background-color: yellow;
}
